
<!doctype html>
<html>
<head>
<<title>WEB</title>>
<meta charset="utf-8">
</head>
<body>
  <h1><a href="BigTitle.html">Draft of making smart mirror</a></h1>

<h3><a href="SecBigTitle.html">what it should contain as its function...</a><br>
  <h3><a href="1.html">Outside the Display...</a></h3>
<ol>
  <li>RGB Light Indicators</li>
  <li>A couple of moters</li>
  <li>A camera</li>
</ol>
<h3><a href="2.html">On the Display...</a></h3>
<ol>
  <li>Date and Time</li>
  <li>Temperature and Humidity</li>
  <li>Titel of Issue</li>
  <li>A youtube capture</li>
  <li>schedule</li>
</ol>
<h4><a href="http://blog.daum.net/_blog/BlogTypeView.do?blogid=0JjgC&articleno=4019875" targer="_blank" title="How to make server using resberrypi">A Video of aThe Example</h4>
</body>
